nav {
    background-color: rgb(120, 3, 197);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-flex;
    margin: auto;
    
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a:hover {
    background-color: rgb(113, 111, 231);
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(120, 3, 185);
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#editor {
    flex: 1;
    margin-right: 20px;
}

#preview {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    position: relative;
}

textarea, input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: rgb(54, 0, 153);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#previewTitle {
    margin-top: 0;
}

#previewImage {
    max-width: 100%;
    margin-bottom: 10px;
}

#previewVideo {
    width: 100%;
    height: 300px;
}
